html
	font-size: 62.5%

body
	margin: 0
	padding: 0
	font-family: $ff
	font-size: 16px
	line-height: 1.3
	overflow-x: hidden

	*
		box-sizing: border-box

.body

	&--no-croll
		overflow: hidden
