$ws-1920: 1920;
$ws-1440: 1440;
$ws-1280: 1280;
$ws-1024: 1024;
$ws-960: 960;
$ws-768: 768;
$ws-620: 620;
$ws-475: 475;
$ws-425: 425;
$ws-375: 375;
$ws-320: 320;

:root[data-theme='default'] {
  --ws: 100vw / #{$ws-1920};

  @include max-screen(1440px) {
    --ws: 100vw / #{$ws-1440};
  }

  @include max-screen(1280px) {
    --ws: 100vw / #{$ws-1280};
  }

  @include max-screen(1024px) {
    --ws: 100vw / #{$ws-1024};
  }

  @include max-screen(960px) {
    --ws: 100vw / #{$ws-960};
  }

  @include max-screen(768px) {
    --ws: 100vw / #{$ws-768};
  }

  @include max-screen(620px) {
    --ws: 100vw / #{$ws-620};
  }

  @include max-screen(475px) {
    --ws: 100vw / #{$ws-475};
  }

  @include max-screen(425px) {
    --ws: 100vw / #{$ws-425};
  }

  @include max-screen(375px) {
    --ws: 100vw / #{$ws-375};
  }

  @include max-screen(320px) {
    --ws: 100vw / #{$ws-320};
  }
}

@function ws-scale($size) {
  @return calc(var(--ws) * #{$size});
}

