.feedback-form
	max-width: ws-scale(395)
	height: fit-content
	background-color: $c-white
	border-radius: 1rem
	padding: ws-scale(50) ws-scale(50) ws-scale(30) ws-scale(50)
	position: relative

	+max-screen(475px)
		padding: ws-scale(20)

	&:before
		content: ''
		position: absolute
		background-image: url('../img/final.png')
		background-repeat: no-repeat
		background-size: contain
		width: ws-scale(250)
		height: ws-scale(200)
		top: -170px
		left: -80px

		+max-screen(475px)
			left: 0

	&__title
		margin-bottom: ws-scale(10)
		color: $c-secondary
		font-size: ws-scale(30)
		font-family: $ff-b

	&__input-group
		width: 100%
		margin-bottom: ws-scale(15)

		&:last-child
			margin-bottom: 0

	&__input
		width: 100%
		border: 1px solid #9391A2
		border-radius: .5rem
		padding: ws-scale(12) ws-scale(15)
		outline: none

		&:focus
			border-color: $c-primary

	&__btn
		padding: ws-scale(13) 0
		font-size: ws-scale(16)
		font-family: $ff

	&__delimiter
		margin: ws-scale(10) auto
		display: flex
		justify-content: center

	&__social-links
		margin-bottom: ws-scale(15)

	&__info
		font-size: ws-scale(12)
		color: $c-gray-800
		font-family: $ff
