#message-modal.modal.modal--message.modal--animate
	.modal__inner
		button.modal__button-close.js-close-modal(type='button')
			+icon('close', 'modal__button-close-icon')
		.modal__header
			.modal__title.js-message-modal-title Message
		.modal__body
			.modal__description.js-message-modal-description Text
