include ../helpers/_include
include ../templates/_include

- var array = ''
block vars

doctype
html(lang='ru' data-theme='default')
	head
		+head(array)
	body.body.js-body
		include ../components/_svg-container
		block content
		+footer
		+modals
		+scripts
