// Override Magnific Popup Styles
.mfp-close
	display: none !important

.mfp-bg
	background: rgba(0, 0, 0, 0.8)

// Layout modals style
.modals
	display: none

.modal
	$el: &

	background-color: #fff
	max-width: 500px
	margin-left: auto
	margin-right: auto
	width: 100%
	position: relative
	color: #000000
	box-shadow: 0 5px 15px -10px rgba(34, 60, 80, 0.7)

	&--animate
		animation-duration: .3s
		animation-fill-mode: both

	&--error

		#{$el}

			&__title
				color: red

			&__description
				color: red

			&__button-close-icon
				color: red

	&--success

		#{$el}

			&__title
				color: green

			&__description
				color: green

			&__button-close-icon
				color: green

	&__inner
		position: relative
		padding: 30px

	&__header
		margin-bottom: 20px
		padding-bottom: 20px
		border-bottom: 1px solid #eee

	&__button-close
		+reset-btn
		position: absolute
		right: ws-scale(20)
		top: ws-scale(20)
		padding: 0

		&-icon
			font-size: ws-scale(20)
			color: #000

	&__title
		text-align: center

	&__body
		display: flex
		align-items: center
		position: relative

	&__description
		text-align: center
		width: 100%
