mixin checkbox-input(mod, name, attrs, text)
	- mod = mod || ''
	- name = name || ''
	- text = text || ''

	label.checkbox(class=`${mod}`)

		case attrs
			when 'checked'
				input.checkbox__input(type='checkbox' name=`${name}` checked)
			when 'disabled'
				input.checkbox__input(type='checkbox' name=`${name}` disabled)
			when 'checked disabled'
				input.checkbox__input(type='checkbox' name=`${name}` checked disabled)
			when 'disabled checked'
				input.checkbox__input(type='checkbox' name=`${name}` checked disabled)
			default
				input.checkbox__input(type='checkbox' name=`${name}`)

		span.checkbox__indicator
			+icon('check', 'checkbox__indicator-icon')
		span.checkbox__text= text

mixin radio-input(mod, name, attrs, text)
	- mod = mod || ''
	- name = name || ''
	- text = text || ''

	label.radio(class=`${mod}`)

		case attrs
			when 'checked'
				input.radio__input(type='radio' name=`${name}` checked)
			when 'disabled'
				input.radio__input(type='radio' name=`${name}` disabled)
			when 'checked disabled'
				input.radio__input(type='radio' name=`${name}` checked disabled)
			when 'disabled checked'
				input.radio__input(type='radio' name=`${name}` checked disabled)
			default
				input.radio__input(type='radio' name=`${name}`)

		span.radio__indicator
		span.radio__text= text
